<!DOCTYPE html>
<html>
<head>
    <title>Carregar Arquivo Excel</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="container ">
    <h1 class="titulo_principal">Carregar Arquivo Excel</h1><br>
    <form action="/" method="POST" enctype="multipart/form-data">
        <input type="file" name="planilha" id="planilha" accept=".xlsx" class="btn-block btn-info btn-lg download"><br>
        <hr>
        <input type="submit" value="Carregar" class="btn btn-info btn-lg download"><br>
    </form>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js"></script>
</html>
